@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');

* {
    margin: 0;
    padding-top: 0;
}

aside {
    width: 25%;
    margin-left: 5%;
    display: inline-block;
    background-color: rgba(186, 168, 152, 1);
    border-radius: 0px;
    padding: 20px 15px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 14px;
}

aside form {
    position: relative;
}

aside form fieldset {
    border: none;
    padding: 0;
}

aside form fieldset legend {
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

aside form fieldset label {
    display: inline-block;
    margin-right: 20px;
    margin-left: 23px;
    position: relative;
}

aside form fieldset label:before {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(238, 224, 203, 1);
    content: "";
    left: -23px;
    z-index: 1;
}

aside form fieldset input[type="radio"]:checked + label:after {
    position: absolute;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color:rgba(131, 151, 136, 1);
    content: "";
    left: -19px;
    top: 4px;
    z-index: 2;
}

aside form fieldset input {
    display: none;
}

aside form input[type="checkbox"] {
    display: none;
}

aside form input[type="checkbox"] + label {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}

aside form input[type="checkbox"] + label:before {
    position: absolute;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    background-color: rgba(238, 224, 203, 1);
    content: "";
    left: 0px;
    margin-top: 2px;
    z-index: 1;
}

aside form input[type="checkbox"]:checked + label:after {
    position: absolute;
    border-radius: 2px;
    width: 9px;
    height: 9px;
    background-color:rgba(131, 151, 136, 1);
    content: "";
    left: 3px;
    margin-top:-10px;
    z-index: 2;
}

aside form input[type="text"] {
    margin-bottom: 15px;
    border: none;
    background-color: rgba(238, 224, 203, 1);
    padding: 3px 8px;
    width: 90%;
}

aside form input[type="submit"] {
    display: block;
    background-color: rgba(131, 151, 136, 1);
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
}

aside form label {
    display: block;
    font-size: 13px;
}

aside h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

aside h3 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: rgba(131, 151, 136, 0.5);
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(131, 151, 136, 1);
    padding: 20px 0;
    margin-bottom: 30px;
}

header > a, header > img {
    display: inline-block;
}

footer {
    padding: 60px 20px 40px;
    color: #333;
    background-color: rgba(186, 168, 152, 1);
    margin-top: 30px;
}

footer a {
    color: #fff;
}

footer img {
    margin-bottom: 15px;
}

footer p {
    margin: 5px 0px;
}

main {
    width: 70%;
    display: inline-block;
    background-color: #fff;
    background-color: rgba(238, 224, 203, 1);
    border-radius: 0px;
    padding: 30px 35px;
    box-sizing: border-box;
    vertical-align: top;
    padding-bottom: 320px;
}

section {
    box-shadow: 3px 3px 10px #aaa;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 0px 30px;
    padding: 25px;
    background-color: #fff;
    height: 250px;
    position: absolute;
    max-width: 600px;
}

section h2, section h3, article h2, article h3  {
    font-size: 18px;
    margin-bottom: 20px;
}

section p, article p {
    margin-bottom: 15px;
}

section p:last-child, article p:last-child {
    margin-bottom: 0px;
}

#solapas {
    margin-top: 30px;
    position: relative;
    top: 1px;
    z-index: 100;
}

#solapas li {
    list-style: none;
    display: inline-block;
}

#solapas li a {
    display: block;
    background: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    box-shadow: 3px -4px 8px #aaa;
    text-decoration: none;
    color: #333;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}




/* Transform / Transition */

#hamb {
    width: 210px;
    height: 35px;
    position: absolute;
    top: 60px;
	right: -55px;
	cursor: pointer;
}

#hamb span {
	display: block;
    color: #fff;
    padding: 8px 20px;
}

#hamb.open {
	background: rgba(102, 102, 102, 1);
}

#hamb ul {
    position: absolute;
    width: 25px;
    top: 8px;
    right: 8px;
}

#hamb a {
    display: block;
    border-top: 2px solid #fff;
    padding-bottom: 5px;
}

#hamb li {
    list-style: none;
}

#menu {
    position: absolute;
    right: -55px;
    top: 95px;
    z-index: 100;
    width: 210px;
	text-align: center;
	overflow: hidden;
	background: #fff;
}

#menu ul {
    padding: 0;
}

#menu ul li {
    list-style: none;
    margin: 0;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 15px 5px;
    background: rgba(102, 102, 102, 0.93);
    border-top: 1px solid #888;
	width: 100%;
	box-sizing: border-box;
}

#side {
	position: fixed;
	top: 220px;
	left: 0;
	width: 300px;
	background: #666;
	z-index: 999;
	box-sizing: border-box;
	padding: 20px;
	color: #fff;
}

#side p {
	margin: 20px 0;
}

#side p:last-of-type {
	margin-bottom: 0;
}

#side:after {
	content:">";
	text-align: center;
	color: #fff;
	position: absolute;
	width: 30px;
	height: 130px;
	padding-top: 50px;
	border-left: 1px solid #777;
	box-sizing: border-box;
	top: 20px;
	right: -30px;
	background: #666;
}

#hamb.open li a {
	transform-origin: right;
}


#menu ul li a:after {
    content: "";
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
}



